* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-white: rgba(247, 248, 255, 1);
  --black: rgba(26, 26, 26, 1);
  --body-BD-font-family: "Pretendard", Helvetica;
  --body-BD-font-size: 18px;
  --body-BD-font-style: normal;
  --body-BD-font-weight: 600;
  --body-BD-letter-spacing: 0.18px;
  --body-BD-line-height: 150%;
  --body-font-family: "Pretendard", Helvetica;
  --body-font-size: 18px;
  --body-font-style: normal;
  --body-font-weight: 400;
  --body-letter-spacing: 0.18px;
  --body-line-height: 150%;
  --body-MD-font-family: "Pretendard", Helvetica;
  --body-MD-font-size: 18px;
  --body-MD-font-style: normal;
  --body-MD-font-weight: 500;
  --body-MD-letter-spacing: 0.18px;
  --body-MD-line-height: 150%;
  --caption-font-family: "Pretendard", Helvetica;
  --caption-font-size: 14px;
  --caption-font-style: normal;
  --caption-font-weight: 500;
  --caption-letter-spacing: 0px;
  --caption-line-height: 150%;
  --drop-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.15);
  --error: rgba(226, 43, 64, 1);
  --gray-100: rgba(238, 241, 249, 1);
  --gray-200: rgba(225, 229, 241, 1);
  --gray-300: rgba(193, 198, 209, 1);
  --gray-400: rgba(154, 159, 172, 1);
  --gray-50: rgba(244, 247, 255, 1);
  --gray-500: rgba(125, 129, 142, 1);
  --gray-600: rgba(103, 106, 118, 1);
  --gray-700: rgba(65, 67, 77, 1);
  --gray-800: rgba(44, 47, 54, 1);
  --h1-font-family: "Pretendard", Helvetica;
  --h1-font-size: 60px;
  --h1-font-style: normal;
  --h1-font-weight: 500;
  --h1-letter-spacing: 0px;
  --h1-line-height: 120.00000476837158%;
  --h2-font-family: "Pretendard", Helvetica;
  --h2-font-size: 38px;
  --h2-font-style: normal;
  --h2-font-weight: 500;
  --h2-letter-spacing: 0.38px;
  --h2-line-height: 129.99999523162842%;
  --h3-font-family: "Pretendard", Helvetica;
  --h3-font-size: 26px;
  --h3-font-style: normal;
  --h3-font-weight: 500;
  --h3-letter-spacing: 0.52px;
  --h3-line-height: 139.9999976158142%;
  --primary-01: rgba(67, 104, 255, 1);
  --primary-02: rgba(98, 128, 255, 1);
  --primary-03: rgba(136, 150, 255, 1);
  --primary-04: rgba(223, 229, 255, 1);
  --secondary: rgba(76, 229, 167, 1);
}
